@supports (grid-area:auto) {

.site {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 300px 300px 300px 300px 400px 300px 300px 300px 300px 300px;
  grid-template-areas:
  'hd hd hd hd hd hd hd hd hd'
  '. c1 c1 c1 c1 c1 c1 c1 .'
  '. ly ly ly ly ly ly ly .'
  '. c2 c2 c2 c2 c2 c2 c2 .'
  '. vid vid vid vid vid vid vid .'
  '. c3 c3 c3 c3 c3 c3 c3 .'
  '. mp mp mp mp mp mp mp .'
  '. con con con con con con con .';
}


/* Global Styles */
.flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

h1{
  color: red;
  font-size: 10px;
}

/* Header */
.header{
  grid-area: hd;
border: 5px solid red;
}

/* Copy 1 */
.copy-1{
  grid-area: c1;
  border: 5px solid red;
}

/* Music Lyrics API */
.lyrics-api{
  grid-area: ly;
  border: 5px solid red;
}

.track-cards{
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
}

.track-title{
  flex-basis: 80%;
}

.track-lyrics-link{
  flex-basis: 20%;
}

/* Copy 2 */
.copy-2{
  grid-area: c2;
  border: 5px solid red;
}

/* Youtube API */
.youtube-api{
  grid-area: vid;
  border: 5px solid red;
}

/* Copy 3 */
.copy-3{
  grid-area: c3;
border: 5px solid red;
}

/* Google Maps API */
.googlemaps-api{
  grid-area: mp;
border: 5px solid red;
}

#map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }

/* Copy Conclusion */
.copy-conclusion{
  grid-area: con;
border: 5px solid red;
}

}
