@supports (grid-area:auto) {

.site {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 100px, 100px, 100px, 100px, 100px, 100px, 100px, 100px, 100px, 300px, 100px;
  grid-template-areas:
  'hd hd hd hd hd hd hd hd hd'
  '. inttxt inttxt inttxt inttxt inttxt inttxt inttxt . '
  '. c1 c1 c1 c1 c1 c1 c1 .'
  '. c2 c2 c2 c2 c2 c2 c2 .'
  '. mp mp mp mp mp mp mp .'
  '. c3 c3 c3 c3 c3 c3 c3 .'
  '. ly ly ly ly ly ly ly .'
  '. con con con con con con con .'
  '. vid vid vid vid vid vid vid .'
  '. quo quo quo quo quo quo quo .'
  '. srcs srcs srcs srcs srcs srcs srcs.';
background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
}


/* Global Styles */
.flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

h1{
  color: #fff;
  font-size: 50px;
  font-family: 'Bungee', sans-serif;
}

h2{
  color: white;
  font-size: 30px;
  font-family: 'Questrial', sans-serif;
}

h3{
  font-family: 'Bungee', sans-serif;
  font-size: 24px;
}

p{
  font-family: 'Questrial', sans-serif;
  color: #fff;
  font-size: 18px;
}

/* Header */
.header{
  grid-area: hd;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.background-image {
  background-image: linear-gradient(#000000,  transparent), url("/img/tay-rep.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px;
  top:0;
  left: 0;/* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
/* Intro Text */

.intro-text{
  grid-area: inttxt;
  text-align: center;
  font-size: 40px;
}

#element{
  text-align: center;
  margin-left: 20%;
  font-size: 40px;
  background-color: #fff;
  color: #000;
  padding: 50px;
}

  /* .active{
        z-index:99;
        max-width: 50px;
        max-height: 50px;
    }
#slideshow, img{
  max-width: 200px;
  max-height: 200px;
} */

/* Copy 1 */
.copy-1{
  grid-area: c1;
}

#stage-snake{
  width: 100%;
  height: auto;
}

/* Music Lyrics API */
.lyrics-api{
  grid-area: ly;
}

.track-cards{
  padding: 10px;
  margin: 10px;
  background-color: #000;
}


.track-title {
  flex-basis: 80%;
  font-size: 20px;
  color: #fff;
  padding: 20px;
}

.track-title a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Questrial', sans-serif;
}

.track-lyrics-link{
  flex-basis: 20%;
}

#results{
  flex-basis: 90%;
  padding: 20px;
  font-size: 16px;
}

/* Copy 2 */
.copy-2{
  grid-area: c2;
}

/* Youtube API */
.youtube-api{
  grid-area: vid;
}

/* Copy 3 */
.copy-3{
  grid-area: c3;
}

/* Google Maps API */
.googlemaps-api{
  grid-area: mp;
}

.googlemaps-api h1{
  color: #000;
  font-size: 15px;
}

.googlemaps-api h2{
  color: #000;
  font-size: 12px;
}

.googlemaps-api p, a{
  color: #000;
  font-size: 10px;
}

#map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }

/* Copy Conclusion */
.copy-conclusion{
  grid-area: con;
}

#rollingstone{
  padding: 20px;
}

/* Sources */
.sources{
  grid-area:srcs;
  margin-top: 30%;
  font-family: 'Questrial', sans-serif;
}
.sources ul{
  font-size: 10px;
  padding: 20px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #000;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* Quote Styles */
.quote{
  grid-area: quo;
  flex-direction: row;
  font-size: 40px;
  text-align: center;
  margin-top: 50%;
  margin-bottom: 20%;
  justify-content: space-around;
  font-family: 'Questrial', sans-serif;
}

#snake-quote{
  font-size: 30px;
  padding: 20px;
  font-family: 'Questrial', sans-serif;
  padding: 10px;
}

/* Flip Styles */
.flip-container {
  perspective: 1000px;
  background-color: #000;
  color: #fff;
}

.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 100%;
  height: 100%;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}

}

@media screen and (max-width:768px){
  .site{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
    grid-template-areas:
    'hd'
    'inttxt'
    'c1'
    'c2'
    'mp'
    'c3'
    'ly'
    'con'
    'vid'
    'quo'
    'srcs';
  }





}
